body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(219, 219, 219);
}

.balk {
    background-color: rgb(234, 233, 233);
    height: 10%;
    width: 10   0%;
    text-align: center;

    font-size: 200%;

    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
}

.topnav {
    margin-top: 1%;
}

.topnav a {
    color: rgb(77, 77, 77);
    text-decoration: inherit;
    margin: 2%;
}