* {
   margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    
}

body {
    font-family: 'Montserrat';
    background-color: rgb(219, 219, 219);
}

.balk {
    background-color: rgb(234, 233, 233);
    height: 10%;
    width: 10   0%;
    text-align: center;
    color: black;
    font-size: 200%;
    
    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
}

.topnav {
    margin-top: 1%;
    text-decoration: inherit;
    margin-bottom: 1%;
}

.topnav a {
    padding-left: 50px;
    padding-bottom: 20px;
    color: #fc0;
}
.topnav a:hover{
    color: rgb(172, 138, 4);
}