* {

  padding: 0;
  text-decoration: none;
  list-style: none;

}

body {
  font-family: 'Montserrat';
  background-color: #fbfaf6;
}



.tabel {
  margin-top: 2%;
  margin-left: 2%;

  width: 65%;

  border-collapse: collapse;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 30%);
}

.tabel th {
  padding-top: .5%;
  padding-bottom: .5%;

  background-color: rgb(255, 221, 0);
}

td:nth-child(even){
  background-color: #f2f2f2;
}


.tabel th, .tabel td {
  text-align: center;
  padding-right: 0.25rem;

  padding-top: .5%;
  padding-bottom: .5%;

  font-size: 13px;
}

td.edit-buttons {
  text-align: right;
}

.popupbtn {
  width: 70%;

  border-radius: 10%;

  border: none;
  background-color: #F2F2F2
}




hr {
  height: 5px;
  border-width: 0;
  background-color: #000000;
}

.td .edit-buttons {
  text-align: right;
}


.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  right:400px;
}

/*popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: rgb(255, 221, 0);

  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;

}




.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}