* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat';
    background-color: rgb(219, 219, 219);
}

.flex {
    display: flex;
}

.product {
    display: flex;
    background-color: rgb(214, 214, 214);
    height: 10%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 5%;

    box-shadow: 2px 3px #c0c0c0;
}

.product img {
    display: inline-block;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.producttitlecart {
    font-size: 150%;
}

.productamountcart {
    padding-top: 10%;
    font-size: 120%;
    margin: 2%;
}

.winkelwagenmain {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: rgb(234, 233, 233);
    height: 60%;
    width: 50%;

    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
}

.summary {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: rgb(234, 233, 233);
    height: 60%;
    width: 40%;
    font-size: 135%;

    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
}

.productpluscart {
    border: none;
    width: 15px;
    background-color: rgb(195, 195, 195);
}

.productpluscart:hover {
    background-color: rgb(178, 178, 178);
}

.productpluscart:active {
    transform: translateX(1px);
}   

.orderbtn {
    border: none;
    width: 50%;
    height: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 25%;
    padding: 2%;
    font-size: 100%;
    background-color: rgb(195, 195, 195);
    
    box-shadow: 2px 3px rgb(185, 185, 185);
}
.orderbtn:hover {
    background-color: rgb(178, 178, 178);
}
.orderbtn:active {
    transform: translateY(1px);
    box-shadow: none;
}


.productminuscart {
    border: none;
    background-color: rgb(195, 195, 195);
    width: 15px;
    margin-left: 30%;
}

.productminuscart:hover {
    background-color: rgb(178, 178, 178);
}

.productminuscart:active {
    transform: translateX(-1px);    
}

.pricecart {
    font-size: 150%;
    margin: 2%;
    margin-left: 6%;
    padding-top: 10%;
    text-align: center;
}

.titlediv {
    display: flex;
    height: 5%;
    width: 50%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
    background-color: rgb(234, 233, 233);
}
.producttitlediv {
    margin: 3% 2% 2% 3%;
    width: 20%;
}

.titledivsummary {
    display: flex;
    height: 5%;
    width: 40%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 10px;
    box-shadow: 2px 3px #c0c0c0;
    background-color: rgb(234, 233, 233);
}

.titletext {
    font-size: 300%;
    text-align: center;
    color: rgb(37, 37, 37);
    font-weight: 500;
}

.titleamount {
    margin-left: 35%;
    margin-top: 4%;
}

.alignleft {
    margin-left: 5%;
    float: left;
    width: 35%
}

.alignright {
    margin-left: 45%;
}

.freeform {
    display: inline-flex;
    margin-left: 40%;
    width: 25%;
}