* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
}

body {
    font-family: 'Montserrat';
    background-color: #fcfbf7;
}

.container {
    background-color: white;
    border: solid;
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    width: 23%;
    align-content: center;
    vertical-align: middle;
    margin-left: 37%;
    margin-right: auto;
    box-shadow: 0px 3px 3px 0px rgb(32, 37, 48);
    margin-top: 17%;
    position: absolute;
    border-width: 2px;
}


.top-tekst {
    text-align: center;
    display: flex;
    justify-content: center;
}

.apparaatnaam {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 5px;
    border-color: #fc0;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 2%;
    text-align: center;
    display: flex;
    border-width: 2px;
}

.voeg-toe {
    border-color: #fc0;
    background-color: #fc0;
    padding: 2%;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    display: flex;
    margin-left:auto;
    margin-right:auto;  
    border-width: 1px;
    text-align:center;
}

.voeg-toe:hover {
    background-color:rgb(0, 48, 63);
    color: white;
    border-color: #00AFD6;
}


.voeg-toe {
    width: 30%;
    margin-left: 35%;
    margin-top:7%;
    margin-bottom: 5%;
    background-color:#fc0;
    border: solid 2px #fc0;
    border-radius: 5px;
    color: white;
}

.voeg-toe:hover {
    background-color: rgb(255, 187, 0);
    color: white;
    border: solid 2px rgb(255, 187, 0);;
    transition: all 200ms;
}
